.formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  .form {
    margin: 0 auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .statusContainer {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding: 10px 0;
      border: none;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      gap: 10px;

      h2 {
        font-size: 24px;
      }
    }
    .submitBtn {
      width: 100%;
      height: 50px;
      margin-top: 10px;
      background-color: #c4b79c;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 18px;
      cursor: pointer;
      &:disabled {
        cursor: auto;
      }
    }

    .formHeader {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 40px;
      gap: 10px;
      h2 {
        font-size: 48px;
      }
    }
    .inputContainer {
      width: 100%;
      display: flex;
      gap: 20px;
      .firstContainer {
        max-width: 50%;
      }
      .secondContainer {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 17px;
      }

      input {
        width: 200px;
        height: 30px;
      }

      div[class="Mui-disabled"] {
        background-color: #eaecef;
        border-radius: 12px;
      }
      #demo-select-small {
        border-radius: 12px;
      }
    }
  }
}
